<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<link rel="stylesheet" href="../../node_modules/sweetalert/lib/sweet-alert.css"/>
		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"/>
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		
		<script src="../../node_modules/jquery/dist/jquery.js"></script>
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<!--<script src="../../node_modules/angular/angular.js"></script>-->
		 <script src="https://cdn.bootcss.com/angular.js/1.5.3/angular.min.js"></script>
		<script src="../../node_modules/sweetalert/lib/sweet-alert.js"></script>
		<script src="../../node_modules/angular-sweetalert/SweetAlert.js"></script>
		<script src="../../dist/my.js"></script>
		
		<style type="text/css">
			
			.test {
				color: red
			}
		</style>
		<title>angular tests</title>
	</head>
	<body ng-app="AngularApp" ng-controller="AngularCtrl">
		
		
		<div class="container">
			
				{{one}}
				<div class="list-group">
					<div class="list-group-item img-rounded"><input type="button" class="btn btn-primary" value="remove" ng-click="remove()"/></div>
					<div class="list-group-item img-rounded"><input type="button" class="btn btn-primary" value="injector" onclick="injector()"/></div>
					<div class="list-group-item img-rounded"><input type="button" class="btn btn-primary" value="changeAttrVal" ng-click="changeAttrVal()"/></div>
				</div>
				
				<hr />
				
				<div class="jumbotron">
					<h3>test dom $destory</h3>
					<h4 id="destory" test-destory>waitting for remove</h4>
				</div>
				
				<div class="jumbotron" id="externalTest">
				</div>
				
				<div class="jumbotron" id="cacheTest" ng-controller="CacheCtrl">
					
					<span>span</span>	
				</div>
				
				<div class="jumbotron" id="attrTest">
					
					<span  data-cc-cc="cc" id="testAttr" name="cname" bh:a="" cf_f="d">attrTest</span>	
					<input type="text" name="ip" id="ip"  value="{{one}}" test-attr/>
					<input type="text"  ng-model="one"/>
				</div>
				
			
		</div>
		
		
		
	</body>
	
	<script type="text/javascript">
		
		var app = angular.module('AngularApp', []);
		app.directive('testDestory', ['$window', function($window) {
			return {
				restrict: 'AE',
				link: function(scope, element, attr) {
					element.on('click', function() {
						alert('clicked');
					});
					element.on('$destroy', function() {
						alert('destoried');
					});	
				}
			}
		}]);
		
		app.directive('testAttr', ['$window', function($window) {
			return {
				restrict: 'AE',
				link: function(scope, element, attr) {
					attr;
					var normallizeAttr = attr.$normalize('cf_f');
					attr.$addClass('test');
					attr.$set('vfF', 'cxvxv');
					var res = attr.$attr;
					attr.$observe('value', function(val) {
						alert('changed ' + val);
					});
				}
			}
		}]);
		
		
		app.controller('CacheCtrl', ['$scope', '$cacheFactory', function($scope, $cacheFactory) {
			var myCache = $cacheFactory('myCache');
			myCache.put('key1', 'value1');
			myCache.put('key2', 'value2');
			myCache.get('key2');
			var res1 = myCache.info();
			var res2 = $cacheFactory.info();
		}])
		app.controller('AngularCtrl', function($rootScope, $scope, $http, $document, $timeout, $interval, $window, $rootScope, $log, $parse) {
			
			$scope.one = "mike";
			$scope.test = "test"
			$rootScope;
			
			var dom = $document.find('#destory');
			
			$scope.remove = function() {
				dom.remove();
			}
			
			$scope.changeAttrVal = function() {
				var dom = $document.find('#testAttr');
				dom.attr('name', 'nnnn');
			}
	
//			
		});
		
		function injector() {
			var html = '<span id="tt" ng-controller="AngularCtrl">external html {{one}}</span>';
			
			$('#externalTest').append(html);
			
			var jqElement = angular.element('#externalTest');
			jqElement.injector().invoke(function($compile) {
				var template = angular.element('#tt');
				var scope = template.scope();
				$compile(template)(scope);
				 scope.$apply();
			});

		}
	</script>
	
</html>
