<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<link rel="stylesheet" href="../../node_modules/sweetalert/lib/sweet-alert.css"/>
		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"/>
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		
		<script src="../../node_modules/jquery/dist/jquery.js"></script>
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<!--<script src="../../node_modules/angular/angular.js"></script>-->
		 <script src="https://cdn.bootcss.com/angular.js/1.5.3/angular.js"></script>
		 <script src="https://cdn.bootcss.com/angular-sanitize/1.5.3/angular-sanitize.js"></script>
		<script src="../../node_modules/sweetalert/lib/sweet-alert.js"></script>
		<script src="../../node_modules/angular-sweetalert/SweetAlert.js"></script>
		<script src="../../dist/my.js"></script>
		
		<style type="text/css">
			
			
		</style>
		<title>angular tests</title>
	</head>
	<body ng-app="AngularApp" >
		
		
		<div class="container" ng-controller="ctrl2">
			{{person}}
			<!--{{one}}
			<div ng-bind-html="html"></div>-->
			<a ng-click='alert1()'>aaa</a>
			<a ng-click='self()'>self</a>
			<a ng-click='other()'>self</a>
			
		</div>
		
		<!--<div ng-controller="ctrl1"></div>-->
		<hr />
		
		<div class="container" ng-controller="ctrl3">
			{{person}}
			<!--{{one}}
			<div ng-bind-html="html"></div>-->
			<a ng-click='alert1()'>aaa</a>
		</div>
		
		
	</body>
	
	<script type="text/javascript">
		
		var app = angular.module('AngularApp', []);
		
		var ctrl1= function($scope) {
			$scope.one = undefined;
			$scope.person  = {name: 'tom', age: '23'};
			$scope.alert1 = function() {
				alert("1111");
				$scope.person.age = 100;
			}
			
			$scope.other = function() {
				alert($scope.one || $scope.person.name);	
			}
		}
		
		var ctrl2 = function($scope, $controller) {
			$controller('ctrl1', { $scope: $scope });
			$scope.self = function() {
				alert('self');
			}
		}
		
		var ctrl3 = function($scope, $controller) {
			$controller('ctrl1', { $scope: $scope });
		}
		
		app.controller({'ctrl1' : ctrl1, 'ctrl2': ctrl2, 'ctrl3': ctrl3});
	</script>
	
</html>
